body {
    background-color: #ccdcea90;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

#welcome-img {
    max-width: 600px;
    max-height: 300px;
    object-fit: contain;
}

/* img {
    background-color: #ffcf564c;
}

img {
    background-color: #b47eb349;
} */

#content {
    font-family: "Quicksand";
    background-color: plum;
    width: 400px;
    height: 300px;
    background-color: #edf3f990;
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    margin-top: 100px;
}
#score {
    margin-top: 60px;
    color: #b47eb3;
    align-items: center;
}
#container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* <!-- HTML !--> */

/* CSS */
.button-55 {
    font-family: "Quicksand";
    border-color: #b47eb3;
    align-self: center;
    background-color: #b47eb3;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 1.75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* @media only screen and (max-device-width: 480px) {
    .desktop {
        display: none;
    }
} */
