body {
    background-color: ghostwhite;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

#welcome-img {
    max-width: 800px;
    max-height: 400px;
}
